@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
} */
.card {
    @apply bg-white rounded-xl overflow-hidden shadow-md relative mb-3 mr-3;
}
.card:hover {
    @apply shadow-lg origin-center transform scale-x-105 rotate-3 transition-transform duration-300 z-10 ease-linear;
}

.badge {
    @apply bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full p-3 absolute top-0 ml-2 mt-2;

}

.button-primary {
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

@screen md{
    .button-primary {
        @apply border-primary border-2; 
    }
}



.button-primary:hover{
    @apply bg-primary text-white transition duration-300;
}

.active {
    @apply text-gray-700 font-bold;
}
.active>a {
    @apply border-r-4 border-primary px-2; 
}

.load-more {
    @apply bg-secondary-100 text-secondary-200 px-2 rounded-sm;
}
.load-more:hover{
    @apply shadow-lg transform scale-110 px-4 opacity-60;
}
/* .nav-active */
